
<!-- Blog preview section-->
<section class="py-5">
    <div class="container px-5 my-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-8 col-xl-6">
                <div class="text-center">
                    <h2 class="fw-bolder">From our blog</h2>
                    <p class="lead fw-normal text-muted mb-5">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque fugit ratione dicta mollitia. Officiis ad.</p>
                </div>
            </div>
        </div>


<p style="color: green"><%= notice %></p>

<h1>Productos</h1>

<div id="products">
  <% @products.each do |product| %>
    
    
    <div class="row gx-5">
    <div class="col-lg-4 mb-5">
        <div class="card h-100 shadow border-0">
            <img class="card-img-top" src="https://dummyimage.com/600x350/ced4da/6c757d" alt="..." />
            <div class="card-body p-4">
                <div class="badge bg-primary bg-gradient rounded-pill mb-2">News</div>
                <a class="text-decoration-none link-dark stretched-link" href="#!"><h5 class="card-title mb-3"><%= render product %></h5></a>
               
                <p>
                <%= link_to "Show this product", product %>
                </p>
            </div>    
        </div>
    </div>

  <% end %>
</div>

<%= link_to "New product", new_product_path %>



